.navContainer {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logoContainer, .navigationContainer {
  display: flex;
  align-items: center;
}

.logoContainer {
  flex-basis: 12%;
}

.navigationContainer {
  flex-basis: 33%;
}

.hamburger {
  display: none;
}

.logo {
  margin-left: 36px;
}

.link {
  font-size: 24px;
  text-decoration: none;
  color: #593434;
  cursor: pointer;
}

.homeLink {
  margin-left: 15px;
}

.navLink {
  flex: 1;
  margin-right: 36px;
}

@media (max-width: 768px) {
  .navigationContainer {
    display: none;
  }

  .logo {
    margin-left: 15px;
    height: 60px;
    width: 60px;
  }

  .homeLink {
    display: none;
  }

  .hamburger {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px;
    padding-top: 8px;
  }
}