*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Rokkitt';
  src: local('Rokkitt'), url(./fonts/Rokkitt.ttf) format('truetype');
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Rokkitt', serif;
  color: #243531;
  background: #fff8ef;
}

a,
button {
  font: inherit;
}
